/* Contact */

.contact-container {
    height: auto;
    width: 100%;
    margin: 100px auto;
    text-align: center;
}

.contact-container h1 {
    background: linear-gradient(150deg, var(--color-purple) 30%, var(--color-navy-light) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 50px;
    font-size: 3.2rem;
    padding: 0 30px;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.form {
    padding: 20px;
    border-radius: 8px;
    width: 85%;
    max-width: 600px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 30px 0;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: var(--color-grey-1);
}

input,
select,
textarea {
    padding: 10px;
    border: 1px solid var(--color-grey-4);
    color: var(--color-navy-grey-1);
    border-radius: 4px;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.submit-button {
    display: block;
    padding: 12px 60px;
    margin: 30px auto 0;
    font-size: 1rem;
    color: white;
    background-color: var(--color-navy-light);
    border: 2px solid var(--color-navy-light);
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.submit-button:hover {
    background-color: white;
    color: var(--color-navy-light);
}

/* Responsiveness for mobile */

@media only screen and (max-width: 800px) {
    .contact-container h1 {
        font-size: 2.2rem;
    }

    .form-row {
        flex-direction: column;
    }

    .submit-button {
        width: 100%;
        text-align: center;
    }
}

/* Dark mode */
.dark {

    input,
    select,
    textarea {
        color: var(--color-navy-grey-5);
    }

}