/* Footer */

footer {
    background-color: transparent;
    box-shadow: 0px 3px 8px 1px var(--color-grey-5);
    text-align: center;
    height: auto;
    padding: 30px 0;
    margin-top: 100px;
}

footer img {
    width: 50px;
    margin: 0 auto;
}

footer p {
    color: var(--color-black);
    font-size: 1.1rem;
    padding: 30px;
}

.footer-icons ul {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icons ul li {
    padding: 0 5px;
    display: inline;
}

.footer-icons i {
    color: var(--color-navy-grey-1);
    padding-right: 5px;
    transform: scale(135%);
    padding: 0 10px;
    transition: 0.3s;
}

.footer-icons i:hover {
    color: var(--color-navy-light);
    transition: 0.3s;
    transform: translatey(-3px) scale(160%);
}

footer p i {
    padding: 0 4px;
    transform: scale(110%);
}

/* Responsiveness for mobile */

@media only screen and (max-width: 800px) {
    footer {
        margin-top: 150px;
    }

    footer p {
        font-size: 0.95rem;
        padding: 15px 40px;
    }
}