* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

p,
a {
    line-height: 1.9rem;
}

@media only screen and(max-width: 800px) {
    p,
    a {
        line-height: 1.5rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito Sans", sans-serif;
}

header {
    height: 110%;
}

/* Particle system */

#particles-js canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}

/* Hamburger Menu */

header label {
    display: none;
    margin: 0;
    padding: 0;
}
header label .menu {
    position: fixed;
    right: -115px;
    top: -115px;
    z-index: 10;
    width: 190px;
    height: 170px;
    background: #163a83;
    border-radius: 35%;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

header label .hamburger {
    position: absolute;
    top: 135px;
    left: 35px;
    width: 20px;
    height: 2px;
    background: #fff;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

header label .hamburger:after,
header label .hamburger:before {
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
}

header label .hamburger:before {
    top: -8px;
}

header label .hamburger:after {
    bottom: -8px;
}

header label input {
    display: none;
}

header label input:checked + .menu {
    box-shadow: 0 0 0 100vw #163a83, 0 0 0 120vh #163a83;
    border-radius: 50%;
}

header label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

header label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
}

header label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
}

header label input:checked + .menu + ul {
    opacity: 1;
    position: fixed;
}

header label ul {
    display: none;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: 0.25s 0s ease-in-out;
    transition: 0.25s 0s ease-in-out;
    list-style: none;
}

header label input:checked ~ ul {
    display: block;
}

header label a {
    margin-bottom: 1em;
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;
}

/* Navigation Bar: */

nav {
    transition: 0.5s;
    position: fixed;
    width: 100%;
    height: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    z-index: 3;
}
nav ul {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
}
nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #404040;
    font-size: 1.1rem;
    transition: 0.3s;
}

nav ul li a::after {
    content: "";
    background: #1c469c;
    width: 0%;
    height: 2.5px;
    display: block;
    margin: auto;
    margin-top: 3px;
    transition: 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

nav img {
    width: 100%;
}

#logo-link {
    width: 180px;
    transition: 0.5s;
    margin-right: 22%;
}

.nav-active {
    transition: 0.5s;
    height: 20px;
    z-index: 1;
}
.nav-active img {
    transition: 0.5s;
}

.nav-active #logo-link {
    width: 160px;
}
.nav-active ul li a {
    transition: 0.5s;
    font-size: 1.05rem;
}

/* Responsiveness for mobile */

@media only screen and (max-width: 1200px) {
    .nav-active {
        height: 22px;
    }
    header label {
        display: block;
    }

    nav ul {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
}

/* Introduction */

.intro-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 80%;
    margin: auto;
    padding-top: 12%;
    border-bottom: 2px double #0c1f46;
}

.intro-text {
    padding-bottom: 5%;
    flex-basis: 80%;
}
.intro-text h1 {
    margin-bottom: 3%;
    background: linear-gradient(150deg, #cf78e0 0%, #1c469c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5rem;
}

.intro-text p {
    color: #525267;
    font-size: 1.2rem;
}
.intro-buttons-container {
    display: flex;
    align-items: baseline;
    width: 150%;
}

.intro-text button {
    height: 40px;
    margin: 40px 20px 0 0;
    padding: 6px 14px;
    background-color: transparent;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    color: #131515;
    font-size: 1rem;
    transition: 0.3s;
    font-weight: 700;
}

.intro-text button i {
    margin-left: 5px;
    transition: 0.3s;
}

.intro-text button:hover i {
    transform: translatex(5px);
    transition: 0.3s;
}

button.contact-btn {
    background-color: #1c469c;
    border: 2px solid #1c469c;
    color: #fff;
    transition: 0.3s;
    font-weight: 300;
}
button.contact-btn:hover {
    background-color: transparent;
    border: 2px solid #1c469c;
    color: #1c469c;
    transition: 0.3s;
}

.intro-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.intro-items img {
    width: 65%;
}

.intro-icons {
    padding-bottom: 2%;
    width: 40%;
    align-self: flex-end;
}

.intro-icons ul li {
    display: inline;
}

.intro-icons i {
    transform: scale(150%);
    color: #525267;
    margin: 0 5%;
    transition: 0.3s;
}

.fa-leetcode-icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    background-color: #525267;
    -webkit-mask: url("../Images/Icons/Leetcode.svg") no-repeat center;
    -webkit-mask-size: contain;
    mask: url("../Images/Icons/Leetcode.svg") no-repeat center;
    mask-size: contain;
    transition: background-color 0.3s ease;
}

.fa-leetcode-icon:hover {
    background-color: #1c469c;
}

.intro-icons i:hover {
    color: #1c469c;
    transition: 0.3s;
    transform: scale(175%) translateY(-3px);
}

/* Responsiveness for mobile */

@media only screen and (max-width: 800px) {
    .intro-container {
        padding-top: 35%;
        flex-direction: column;
    }

    .intro-buttons-container {
        width: 100%;
    }

    .intro-text h1 {
        font-size: 2rem;
    }

    .intro-text p {
        font-size: 1rem;
    }

    .intro-items {
        margin-top: 20px;
    }

    .intro-text button {
        font-size: 0.8rem;
    }

    .intro-items img {
        width: 63%;
    }

    .intro-icons {
        width: 50%;
    }
    .intro-icons i {
        transform: scale(130%);
        margin: 0 3%;
    }
}

/* About */

.about-container {
    margin-top: 14%;
    height: auto;
    padding: 25px;
    background: linear-gradient(
        180deg,
        #0c1f46 0%,
        #3a4353 50%,
        rgba(0, 0, 0, 0) 0%
    );
}

.about-container h1 {
    color: #fff;
    text-align: center;
    margin: 30px 0 20px;
    font-size: 2rem;
}

.about-container h2 {
    color: #f9f9f9;
    text-align: center;
    font-weight: 700;
    padding: 50px 0 20px;
    font-size: 1.5rem;
}
.about-container h2 i {
    margin-left: 10px;
    color: rgb(239, 210, 174);
    transform: scale(125%);
}

.about-container p {
    color: #f9f9f9;
    padding: 1% 0;
    width: 70%;
    margin: auto;
    font-size: 1.2rem;
}

.about-container a {
    text-decoration: underline;
    text-decoration-color: transparent;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    font-weight: 700;
    text-shadow: #fff;
    transition: 0.5s;
}

.about-container a:hover {
    text-decoration-color: #fff;
    transition: 0.5s;
}

.about-content {
    height: auto;
    width: 70%;
    margin-left: 15%;
    margin-top: 3%;
    top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.about-col {
    flex-basis: 46%;
    padding: 10px 0;
    background-color: #fff;
    border-radius: 35px;
    height: auto;
    display: flex;
    box-shadow: 1px 1px 8px 0.5px #3a435344;
    flex-direction: column;
    align-items: center;
}

.about-col img {
    width: 20%;
    padding: 3% 0;
}
.about-col h2 {
    background: linear-gradient(40deg, #cf78e0 0%, #1c469c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.8rem;
    padding: 5% 3% 5%;
}

.about-col p {
    padding: 5% 3%;
    color: #525267;
    font-size: 1.2rem;
    width: 90%;
    margin: 0 auto;
}

.about-col h3 {
    color: #163a83;
    padding: 5% 0;
    font-size: 1.3rem;
}

.about-col .splide {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-col .splide__track {
    width: 80%;
    border-radius: 20px;
    box-sizing: border-box;
}

.about-col .splide img {
    width: 70%;
    cursor: pointer;
}

.splide button.is-active {
    background-color: #163a83;
}

/* Responsiveness for mobile */

@media only screen and (max-width: 800px) {
    .about-container h1 {
        font-size: 1.6rem;
    }

    .about-container h2 {
        font-size: 1.2rem;
    }

    .about-content {
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        margin: 3% auto 0;
    }
    .about-col {
        padding: 10px 0;
        margin-bottom: 15%;
    }

    .about-container p {
        padding: 1% 0;
        width: 90%;
        margin: 8px auto;
        font-size: 1rem;
    }

    .about-container a {
        font-size: 1rem;
    }

    .about-container {
        padding-top: 20px;
        background: linear-gradient(
            180deg,
            #0c1f46 0%,
            #646464 35%,
            rgba(0, 0, 0, 0) 0%
        );
    }

    .about-col h2 {
        font-size: 1.6rem;
    }

    .about-col p {
        font-size: 1rem;
    }

    .about-col h3 {
        font-size: 1.1rem;
    }
}

/* Educational Background */

.background-container {
    margin: 100px 0;
    width: 100%;
}

.background-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-container h1 {
    background: linear-gradient(150deg, #cf78e0 0%, #1c469c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding-top: 50px;
    font-size: 2rem;
}

.background-container p {
    color: #525267;
    padding: 1% 0;
    font-size: 1.2rem;
    text-align: center;
}

.background-container h2 {
    color: #163a83;
    text-align: center;
    font-weight: 700;
    padding: 30px 0 0;
    font-size: 1.5rem;
}
.background-container h2 i {
    margin-left: 10px;
    color: #ffd700;
    transform: scale(125%);
}

/* GPA progress circle */
.circle-container {
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
}

.inner-circle {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gpa-text {
    font-size: 1.3rem;
    font-weight: bold;
    color: #1c469c;
}

/* Certifiates slider */

#main-slider .splide__slide {
    display: flex;
    align-items: center;
    justify-content: center;
}
#main-slider .splide__slide img {
    width: 50%;
    box-shadow: 1px 1px 8px 0.5px #3a435344;
    border-radius: 20px;
    margin: 30px 0;
    cursor: pointer;
}

/* Responsiveness for mobile */

@media only screen and (max-width: 800px) {
    .background-container {
        margin: 100px 0;
    }

    #main-slider .splide__slide img {
        width: 90%;
    }

    .background-text {
        flex-direction: column;
    }

    .background-container h1 {
        padding-bottom: 10%;
        font-size: 1.6rem;
    }

    .background-container p {
        font-size: 1rem;
        padding-bottom: 3%;
        width: 90%;
        margin: 0 auto;
    }

    .background-container h2 {
        font-size: 1.2rem;
    }

    .circle-container {
        margin-top: 15px;
    }

    .progress-circle {
        width: 60px;
        height: 60px;
    }

    .inner-circle {
        width: 45px;
        height: 45px;
    }

    #gpa-text {
        font-size: 1.1rem;
    }
}

/* Portfolio */

.work-container {
    height: auto;
    width: 100%;
    margin: 100px auto;
    text-align: center;
}

.work-container h1 {
    background: linear-gradient(150deg, #cf78e0 0%, #1c469c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 50px;
    font-size: 2rem;
}

.work-container p {
    color: #525267;
    padding: 3% 0;
    width: 80%;
    margin: 10px auto;
    font-size: 1.2rem;
}

.filter-select-container {
    color: #525267;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-select-container select {
    margin: 0 10px;
    height: 35px;
    padding: 0px 5px;
}

.work-entry {
    width: 90%;
    text-align: left;
    height: auto;
    min-height: 380px;
    margin: 0 auto;
    padding: 2% 4%;
    box-shadow: 1px 1px 8px 0.5px #3a435344;
    backdrop-filter: blur(5px);
    background: linear-gradient(
        130deg,
        rgba(12, 31, 70, 0.05) 0%,
        rgba(255, 255, 255, 0.4) 100%
    );
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.work-entry-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-basis: 30%;
}

.work-entry-title {
    flex-basis: 40%;
    text-align: left;
}

.work-entry-img {
    margin-top: 30px;
    cursor: pointer;
    flex-basis: 60%;
}
.work-entry-img img {
    width: 100%;
    transition: 0.3s;
}

.work-entry-title h2 {
    font-size: 2.3rem;
    color: #1c469c;
    background-color: none;
}

.work-entry-title h3 {
    color: #fff;
    font-size: 0.7rem;
    margin-top: 20px;
    cursor: pointer;
}
.work-entry-title span {
    box-shadow: 1px 1px 3px 1px #aaaaaa;
    background-color: #7e8ca5cc;
    padding: 0.2rem 0.3rem;
    margin: 0 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

.work-entry-desc {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.work-entry-desc p {
    color: #525267;
    font-size: 1.1rem;
    line-height: 1.7rem;
    width: 100%;
}

.work-entry-desc a {
    display: block;
    text-decoration: none;
    transition: 0.5s;
    color: #1c469c;
    font-size: 1.1rem;
}

.work-entry-desc a:hover {
    transform: translatex(8px);
    color: #0c1f46;
    transition: 0.5s;
}

.work-entry-desc i {
    margin-left: 5px;
}

#portfolio-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    gap: 60px 30px;
    box-sizing: border-box;
}

/* Responsiveness for mobile */

@media only screen and (max-width: 800px) {
    .work-entry {
        width: 80%;
        padding: 5px 10px;
    }
    .work-container h1 {
        font-size: 1.6rem;
    }
    .work-container p {
        font-size: 1rem;
    }
    .filter-select-container {
        font-size: 0.9rem;
        margin-bottom: 30px;
    }

    .filter-select-container select {
        margin: 0 10px;
        height: 25px;
        padding: 0px 3px;
        font-size: 0.9rem;
    }

    .work-entry-title {
        text-align: center;
        padding: 20px 5px 0;
    }
    .work-entry-title h2 {
        font-size: 1.7rem;
    }
    .work-entry-title h3 {
        font-size: 0.6rem;
    }

    .work-entry-top {
        flex-direction: column;
    }

    .work-entry-desc p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .work-entry-desc a {
        font-size: 1rem;
        color: #1c469c;
    }
    #portfolio-grid {
        grid-template-columns: 1fr;
        padding: 0px;
        gap: 60px 0px;
        box-sizing: border-box;
    }
}

/* Contact */

.contact-container {
    height: auto;
    width: 100%;
    margin: 100px auto;
    text-align: center;
}

.contact-container h1 {
    background: linear-gradient(150deg, #cf78e0 30%, #1c469c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 50px;
    font-size: 3.2rem;
    padding: 0 30px;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.form {
    padding: 20px;
    border-radius: 8px;
    width: 85%;
    max-width: 600px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 30px 0;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input,
select,
textarea {
    padding: 10px;
    border: 1px solid #777;
    color: #525267;
    border-radius: 4px;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.submit-button {
    display: block;
    padding: 12px 60px;
    margin: 30px auto 0;
    font-size: 1rem;
    color: white;
    background-color: #1c469c;
    border: 2px solid #1c469c;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.submit-button:hover {
    background-color: white;
    color: #1c469c;
}

/* Responsiveness for mobile */

@media only screen and (max-width: 800px) {
    .contact-container h1 {
        font-size: 2.2rem;
    }
    .form-row {
        flex-direction: column;
    }

    .submit-button {
        width: 100%;
        text-align: center;
    }
}
/* Footer */

footer {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 1px 15px 1px #bbb;
    text-align: center;
    height: auto;
    padding: 30px 0;
    margin-top: 100px;
}

footer img {
    width: 50px;
    margin: 0 auto;
}

footer p {
    color: #131515;
    font-size: 1.1rem;
    padding: 30px;
}

.footer-icons ul {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-icons ul li {
    padding: 0 5px;
    display: inline;
}

.footer-icons i {
    color: #525267;
    padding-right: 5px;
    transform: scale(135%);
    padding: 0 10px;
    transition: 0.3s;
}
.footer-icons i:hover {
    color: #1c469c;
    transition: 0.3s;
    transform: translatey(-3px) scale(160%);
}

footer p i {
    padding: 0 4px;
    transform: scale(110%);
}
/* Responsiveness for mobile */

@media only screen and (max-width: 800px) {
    footer {
        margin-top: 150px;
    }
    footer p {
        font-size: 0.95rem;
        padding: 15px 40px;
    }
}

/* Animations */

@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0%);
    }
    to {
        opacity: 1;
        transform: scale(100%);
    }
}

@keyframes appear-2 {
    from {
        opacity: 0;
        transform: translatex(-100px);
    }
    to {
        opacity: 1;
        transform: translatex(0px);
    }
}

@keyframes appear-3 {
    from {
        opacity: 0;
        transform: translatex(100px);
    }
    to {
        opacity: 1;
        transform: translatex(0px);
    }
}

.animated-block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.animated-block-2 {
    animation: appear-2 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.animated-block-3 {
    animation: appear-3 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
