*{
margin: 0;
padding: 0;

}

html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1),rgba(186, 181, 181, 0.1));
}
h1{
  font-family: 'Cairo', sans-serif;
}



header{
  height: 110%;
}

/* Navigation Bar: */

.nav{
  transition: 0.5s;
  position: fixed;
  width: 98%;
  margin-left: 1%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding-top: 0.8%;
  height: 50px;
  background-color: rgba(5,0,0,0.3);
  text-align: center;

}
.nav ul{
  padding-top: 0.5%;
  margin-right: 3%;
  
}
.nav ul li{

  display: inline-block;
  padding: 0px 2%;
  
}

.nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 70%;
}

.nav ul li a::after{
  content: '';
  background: #11a9e5;
  width: 0%;
  height: 2px;
  display: block;
  margin: auto;
  transition: 0.35s;
}

.nav ul li a:hover::after{
  width: 100%;
}




.nav img{
  width: 5%;
  position: absolute;
  padding-top: 10px;
  left: 1%;
  top: 1%;
  transition: 0.5s;
}

.nav hr{
  margin: auto;
  margin-top: 0.5%;
  width: 30%;
  transition: 0.5s;
}

.nav-active{
  padding-top: 0%;
  background-color: rgba(91, 86, 86, 0.7);
  transition: 0.5s;
  height: 40px;
  z-index: 1;

}
.nav-active img{
  width: 4%;
  padding-top: 2px;
  transition: 0.5s;
}

.nav-active ul li a{
  transition: 0.5s;
  font-size: 65%;
}

.nav-active ul li a::after{
  background: #c94b49;
}

.nav-active hr{
display: none;
transition: 0.5s;  
}


/* responsiveness for mobile */

@media(max-width: 800px){

.nav img{
  width: 10%;
  position: absolute;
  padding-top: 10px;
  left: 1%;
  top: 1%;
  transition: 0.5s;
}

.nav ul li a{
  font-size: 60%;
}

.nav{
  padding-top: 3%;
  text-align: right;
  height: 42px;
}

.nav hr{
  float: right;
  margin-top: 0.5%;
  width: 60%;
}

.nav-active{
  height: 32px
}

}

/* Introduction */


.intro-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-top: 12%;
  width: 80%;
  margin: auto;
  border-bottom: 2px double rgb(117, 115, 115);
}

.intro-text{
  padding-bottom: 5%;
  flex-basis: 80%;
}


.intro-text h4{

  color: #4e5255;
  font-size: 90%;
  margin-bottom: 5%;
}

.intro-text h1
{
  margin-bottom: 5%;
  color: #4e5255;
  font-size: 260%;
  
}
.intro-text h3{
  margin-bottom: 5%;
  color: #d75c5a;
  font-size: 160%;
}

.intro-text p{
  color: #525267;
  font-size: 95%;
}

.intro-text span{

 color: #25a2c5;
 font-weight: 600;
}

.intro-text button{

  width: 110px;
  height: 40px;
  margin-top: 40px;
  padding: 5px;
  background-color: rgba(0,0,0,0);
  border-radius: 2px;
  border: 1px solid #4e5255;
  color: #4e5255;
  font-size: 15px;
  transition: 0.5s;
}


.intro-text button:hover{
  background-color: #25a2c5;
  border: 1px solid #4e5255;
  color: #ffffff;
  transition: 0.5s;
}

.intro-text button i{
  margin-right: 5px;
}


.intro-items{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.intro-items img{
  width: 55%;
}



.intro-icons{
  padding-bottom: 2%;
  width: 40%;
  align-self: flex-end;
}


.intro-icons ul li{
  display: inline;
}
.intro-icons i{
  transform: scale(150%);
  color: #4e5255;
  margin: 0 5%;
  transition: 0.5s;
}

.intro-icons i:hover
{
  color: #25a2c5;
  transition: 0.5s;
  transform: scale(170%);;
}




/* responsiveness for mobile */

@media(max-width: 800px){

.intro-container{

  padding-top: 25%;
  flex-direction: column;
}

.intro-text h1
{
  font-size: 210%;
  
}
.intro-text h3{
  font-size: 130%;
}

.intro-text p{
  font-size: 90%;
}
.intro-text h4{

  font-size: 85%;
}

}



/* About */


.about-container{
  margin-top: 10%;
  height: auto;
  background: linear-gradient(180deg, #4e5255 40%, rgba(0,0,0,0) 0%);

}



.about-container h1{
  color: #FFF;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 2%;
  font-size: 150%;
}

.about-container h2{
  color: #d75351;
  text-align: center;
  padding-top: 2%;
  font-size: 120%;
}
.about-container h2 i{
  margin-left: 10px;
  color: rgb(239, 210, 174);
  transform: scale(125%);
}

.about-container p{
  color: #f2fbfe;
  padding: 1% 0;
  width: 60%;
  margin:auto;
  font-size: 85%;
}

.about-container a{
  text-decoration: none;
  color: #40b4e1;
  font-weight: bolder;
  text-shadow: #FFF;
  transition: 0.5s;
}

.about-container a:hover{
transition: 0.5s;
color: #fbaba9;
}



.about-content{
  height: auto;
  width: 70%;
  margin-left: 15%;
  margin-top: 3%;
  top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.about-col{
  flex-basis: 46%;
  background-color: #FFF;
  border: 1px solid #b5b9bc;
  border-radius: 5px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-col img{
  width: 20%;
  padding: 3% 0;
}
.about-col h2{
  color: #4e5255;
  font-size: 150%;
  padding: 5% 0 5%;
}

.about-col p {
  padding: 5% 10% 5%;
  color: #4e5255;
  font-size: 90%;
}

.about-col h3{
  color: #c94b49;
  padding: 5% 0;
  font-size: 100%;
}
.about-col li{
  font-size: 90%;
  color: #646464;
  list-style: circle;
  transition: 0.5s;
}
.about-col ul{
  margin-bottom: 10%;
  text-align: left;
}

.about-col li:hover{
  color: #25a2c5;
  transition: 0.5s;
  cursor: pointer;
}

/* responsiveness for mobile */ 

@media(max-width: 800px){
  .about-content{
    flex-direction: column;
    justify-content: space-between;
  }
  .about-col{
    margin-bottom: 10%;
  }


  .about-container p{
    padding: 1% 0;
    width: 90%;
    margin:auto;
    font-size: 75%;
  }

  .about-container{
    background: linear-gradient(180deg, #4e5255 20%, rgba(0,0,0,0) 0%);
  }
}




 /* portfolio */

.work-container{
  height: auto;
  width: 90%;
  margin: 7% auto;
  text-align: center;

 }

 .work-container h1{
   color:#c94b49;
   padding-top: 3%;
   font-size: 150%; 
   }
  
  .work-container p{
    color: #5e6468;
    padding: 3% 0;
    width: 80%;
    margin:auto;
    font-size: 85%;
  }
  
  

  .work-entry{
    width: 80%;
    text-align: left;
    margin: 0 auto 5%;
    height: auto;
    padding: 5%;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  .work-entry-text{
    display: flex;
    flex-basis: 20%;
    flex-direction: row;
  }

  .work-entry-title{
   
    flex-basis: 50%;
  }

  .work-entry-title h1
  {
    color: #4e5255;
    font-size: 150%;
  }
  
  .work-entry-title h2{
    color: #646464;
    font-size: 75%;
    margin-top: 3%;  
  }

  .work-entry-desc{
    flex-basis: 50%;
  }
  .work-entry-desc p{
    color :#4e5255;
  }
  
  .work-entry-desc a{
    display: block;
    text-decoration: none;
    margin-left: 10%;
    transition: 0.5s;
    margin-bottom: 10px;
  }

    
  .work-entry-desc a:hover
  {
    color:#525267;
    transition: 0.5s;
  }

  .work-entry-desc i{
    margin-left: 5px;
  }

  .link-site{
    color: #c94b49;
    transition: 0.5s;

  }

  .link-repo{
    color:#11a9e5;
    transition: 0.5s;
  }
   
  .work-entry-img{
    flex-basis: 80%;
  }
  .work-entry-img img{
    width: 100%;
  }
  

  /* responsiveness for mobile */

  @media (max-width: 800px) {
  
    .work-container-text p
    {
      text-align: left;
    }

    .work-entry-text{
      flex-direction: column;
    }

    
  }

  /* Contact and footer */

  footer{
    background-color:#8db8c4;
    text-align: center;
    border-top: 1px solid #a5a5a5;
    height: auto;
  }

  footer h2{
    font-size: 100%;
    padding-top: 10px;
    color:#4e5255;
  }
  

  footer a{
    text-decoration: none;
    font-size: 90%;
    padding: 0 10px;
    color: #fff;
    transition: 0.5s;
  }
  
  footer a:hover{
    transition: 0.5s;
    color: #c94b49;
  }
  footer p{

    color:#4e5255;
    font-size: 90%;
    padding: 30px 0;
  }

  .footer-icons ul
  {
    padding-top: 20px;
  }
  .footer-icons ul li{
    padding: 0 5px;
    display: inline;
  }

  .footer-icons i{
    color: #c94b49;
    padding-right: 5px;
    transform: scale(110%);
    transition: 0.5s;
  }
  .footer-icons i:hover{
    color: white;
    transform: scale(130%);
    transition: 0.5s;
  }

  footer p i{
    color: #c94b49;
    transform: scale(110%);
  }

  
  /* responsiveness for mobile */

  @media (max-width: 800px) {
  
 
    footer p{

      font-size: 70%;
      padding: 15px 0;
    }
    .footer-icons ul li{
      padding: 0 5px;
      display: block;
      text-align: left;
    }
    
    footer a{
      font-size: 75%;
    }
  }


