@import url("theme.css");
@import url("nav.css");
@import url("introduction.css");
@import url("about.css");
@import url("background.css");
@import url("portfolio.css");
@import url("contact.css");
@import url("footer.css");
@import url("themeToggle.css");

* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
    background-color: var(--color-bg);
}

body {
    font-family: "Open Sans", sans-serif;
}

p,
a {
    line-height: 1.9rem;
}

@media only screen and(max-width: 800px) {

    p,
    a {
        line-height: 1.5rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito Sans", sans-serif;
}

header {
    height: 110%;
}

/* Particle system */

#particles-js canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}


/* Animations */

@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0%);
    }

    to {
        opacity: 1;
        transform: scale(100%);
    }
}

@keyframes appear-2 {
    from {
        opacity: 0;
        transform: translatex(-100px);
    }

    to {
        opacity: 1;
        transform: translatex(0px);
    }
}

@keyframes appear-3 {
    from {
        opacity: 0;
        transform: translatex(100px);
    }

    to {
        opacity: 1;
        transform: translatex(0px);
    }
}

.animated-block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.animated-block-2 {
    animation: appear-2 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.animated-block-3 {
    animation: appear-3 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}